# Ignore pycache
__pycache__/
*.pyc

# Ignore old folders
old/

# Ignore virtualenv
venv/
.env
.vscode/settings.json
examples/faiss_single_task/index.faiss
examples/faiss_single_task/index.pkl
surycate_venv/

# Ignore data
*.faiss
*.pkl

# Ignore logs
logs/

# Ignore archive
archive/


# Add memory md files
tests/memory/multi_key_memories/memory_dict.yaml



